<h2>Contact Us</h2>
<form class="clearfix">
   <fieldset class="fset">
        <input type="text" id="name" placeholder="name">
        <input type="text" id="email" placeholder="email">
        <input type="text" id="subject" placeholder="subject">
    </fieldset>
   
   <fieldset class="cset">
        <textarea rows=9 id="comments" placeholder="comments"></textarea>
   </fieldset>
    
    <fieldset class="fset">
    <input type="submit" id="submit" value="SUBMIT">
    </fieldset>
</form>


<div class="feedback"></div>